@{
    ViewBag.Title = "setOptions Method";
    ViewBag.Key = "jsnlogjs-consoleappender-setOptions";
    ViewBag.Description = "Sets options for a console appender.";
}

@using ViewExtensions


@section Definition {
    @Html.Partial("_SetOptionsMethodDefinition",new ViewDataDictionary { 
            { "returnType", "ConsoleAppender"}
        })
}

@section Remarks {
    <p>
    The JSON object can have the following fields: 
        </p>

    @Html.Partial("_AppenderRemarks",new ViewDataDictionary { 
            { "objectType", "ConsoleAppender"}, 
            { "configSource", "jsnlog.js"} 
        })
}


