@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmptyLog4Net</title>
</head>
<body>
    <h1>EmptyLog4Net</h1>
    <script type="text/ecmascript">

        alert('log4net');
    </script>
        
    <div>
    </div>
</body>
</html>
