
a.logo:visited,
a.logo
{
    text-decoration:none;
    color: #0566C9;
    font-weight: bold;
    font-size: 30pt;
}

/* --------------------------------------- */
/* We're using a boostrap button group for the version, plus the custom versions class */
.versions span,
.versions a {
    width:70px; 
}

.versions span
{
    cursor:default;
}

/* Adding to bootstrap class*/
.navbar-fixed-top
{
    padding-bottom: 10px;
}

.navbar-default {
    background-color: #c0c0c0;
}

header .navbar 
{
    margin-bottom: 0;
    padding: 10px 0 15px 0;
}

header .navbar-default .navbar-nav li a {
    color: #ffffff;
}

header .navbar-default .navbar-nav li a:hover {
    text-decoration: underline;
    color: #f0f0f0;
}

/* 
    Create wider gutter between the 2 columns on the home page, but only if the screen is wider than 768px. If it is narrower, the right column
    is moved below the left column.
*/
@media (min-width: 768px) 
{
    .left-column
    {
        padding-right: 50px;
    }

    .right-column
    {
        padding-left: 50px;
    }
}

.features h2
{
    color: #428bca;
}

.bgcolor1, pre .code-bg-soft1
{
    color: #0566C9;
}

.bgcolor2, pre .code-bg-soft2
{
    color: #5cb85c;
}

.row-divider
{
    border-top: 1px solid #cccccc;
    margin-top: 30px;
}


/* --------------------------------------- */

.term 
{
    font-style:italic;
}

/* used in code examples to highlight added code */
.addedcode 
{
    color: #AD0101;
}

/* --------------------------------------- */

.social-media {
    float: right;
    width: 150px;
}

.social-media .twitter {
    float: right;
    margin-left: 10px;
}

.social-media .facebook {
    float: right;
}

/* --------------------------------------- */

.hero 
{
    background-color: #f0f0f0;
    padding: 10px 0 20px 0;
}

.hero h1 
{
    font-size: 27px;
    font-weight: bold;
}

div.download-button,
a.download-button,
a.download-button:visited,
a.download-button:hover
{
    background: #AD0101 url("/Images/download.png") no-repeat 85% 50%;
    padding: 0 7px 7px 7px;
    border-radius: 5px 5px;
    width: 200px;
    height: 65px;
    cursor:pointer;
    margin-top: -4px;
    display: block;
    text-decoration: none;

    /* push the download button, to align it with rest of text in hero */
    position: relative;
    top: 30px;
}

.download-button span.download-button-caption,
.download-button span.install-button-caption
{
    text-decoration: none;
    color: #fff;    
    font-weight: bold;
    margin: 0;
}

.download-button div.version
{
    font-size: 80%;
    text-decoration: none;
    color: #fff;    
    margin: -8px 0 8px 0;
}

.download-button span.download-button-caption
{
    font-size: 150%;
}

.download-button span.install-button-caption
{
    font-size: 200%;
}

.download-button p
{
    text-decoration: none;
    color: #fff;    
    font-weight: bold;
    font-size: 80%;
    margin-top: 2px;
}

.nugetline 
{
    background-color: #888888;
    border-radius: 2px 2px;
    width: 200px;
    height: 20px;
    color: #fff;    
    font-weight: bold;
    float: right;
    font-size: 80%;
    padding: 0 7px 0 7px;
    margin-top: -4px;
}

/* -------------------------------------- */

.main
{
    margin-top: 20px;
}

/* -------------------------------------- */

.documentation-menu
{
    margin-top: 25px;
}

.documentation-menu a
{
    display: block;
}

.documentation-menu a:hover
{
    background-color: #f5f5f5;
    text-decoration: none;
}

.documentation-menu a.selected
{
    background-color: #428bca;
    color: #ffffff;
}

.documentation-menu a.level3
{
    border-radius: 4px;
    padding: 5px 0 5px 10px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 140%;    
}

.documentation-menu a.level4
{
    border-radius: 3px;
    padding: 3px 0 3px 14px;
    margin-top: 4px;
    font-size: 120%;
    margin-left: 16px;
}

.documentation-menu a.level5
{
    border-radius: 2px;
    padding: 2px 0 2px 10px;
    margin-top: 2px;
    font-size: 100%;
    margin-left: 40px;
}

/* -------------------------------------- */

footer
{
    margin-top: 20px;
}

footer .navbar
{
    margin: 0;
    min-height: 0;
    padding: 5px 0 5px 0;
}

/* -------------------------------------- */

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
border-bottom: 1px solid #dddddd;
}

.table.no-borders > thead > tr > th, 
.table.no-borders > tbody > tr > th, 
.table.no-borders > tfoot > tr > th, 
.table.no-borders > thead > tr > td, 
.table.no-borders > tbody > tr > td, 
.table.no-borders > tfoot > tr > td {
border: none;
}

/* Do not apply more than 20px left margin on tables. Otherwise, when the window gets narrower, sometimes the left
    of the table is obscured by the vertical scroll bar.
    */
table.wide
{
    margin-left: 20px;
}

table.medium
{
    max-width: 500px;
    margin-left: 20px;
}

table.narrow
{
    max-width: 300px;
    margin-left: 20px;
}

/* -------------------------------------- */

.large-items li+li
{
    margin-top: 15px;
}

h2, .h2 {
font-size: 25px;
}

h3, .h3 {
    font-size: 18px;
}

h1, .h1, h2, .h2, h3, .h3 {
margin-bottom: 20px;
}
