
/* Required if you use a fixed top menu. 90px is minimum when screen is 640px wide (iphone) */
body { padding-top: 90px; }

/* --------------------------------------- */

a.logo:visited,
a.logo
{
    text-decoration:none;
    color: #0566C9;
    font-weight: bold;
    font-size: 30pt;
}

/* --------------------------------------- */
/* We're using a boostrap button group for the version, plus the custom versions class */
.versions span,
.versions a {
    width:70px; 
}

.versions span
{
    cursor:default;
}

/* Adding to boostrap class*/
.navbar-fixed-top
{
    padding-bottom: 10px;
}

/* --------------------------------------- */

.term 
{
    font-style:italic;
}

/* used in code examples to highlight added code */
.addedcode 
{
    color: #AD0101;
}

/* --------------------------------------- */

.social-media {
    float: right;
    width: 150px;
}

.social-media .twitter {
    float: right;
    margin-left: 10px;
}

.social-media .facebook {
    float: right;
}

/* --------------------------------------- */

.hero 
{
    background-color: #f0f0f0;
}

.hero h1 
{
    font-size: 27px;
    font-weight: bold;
}



a.download-button,
a.download-button:visited,
a.download-button:hover
{
    background: #AD0101 url("/Images/download.png") no-repeat 85% 50%;
    padding: 0 7px 7px 7px;
    border-radius: 5px 5px;
    width: 200px;
    height: 65px;
    cursor:pointer;
    margin-top: -4px;
    display: block;
    text-decoration: none;

    /* push the download button, to align it with rest of text in hero */
    position: relative;
    top: 30px;
}

.download-button span.download-button-caption,
.download-button span.install-button-caption
{
    text-decoration: none;
    color: #fff;    
    font-weight: bold;
    margin: 0;
}

.download-button span.download-button-caption
{
    font-size: 150%;
}

.download-button span.install-button-caption
{
    font-size: 200%;
}

.download-button p
{
    text-decoration: none;
    color: #fff;    
    font-weight: bold;
    font-size: 80%;
    margin-top: 2px;
}

.nugetline 
{
    background-color: #888888;
    border-radius: 2px 2px;
    width: 200px;
    height: 20px;
    color: #fff;    
    font-weight: bold;
    float: right;
    font-size: 80%;
    padding: 0 7px 0 7px;
    margin-top: -4px;
}
