{
  "authors": [ "mperdeck" ],
  "commands": {
    "test": "xunit.runner.dnx"
  },
  "dependencies": {
    "JSNLog": "__Version__",
    "Selenium.WebDriver": "2.48.2",
    "xunit": "2.1.0"
  },
  "description": "JSNLog.Tests Class Library",
  "frameworks": {
    "dnx451": {
      "dependencies": {
        "xunit.runner.dnx": "2.1.0-rc1-build204"
      }
    }
  },
  "licenseUrl": "",
  "projectUrl": "",
  "tags": [ "" ],
  "version": "2.17.5"
}
