@{
    ViewBag.Title = "JSNLog - Installation";
}

<h1><a name="installation"></a>Installation</h1>

<p>These instructions assume that you use:
<ul>
<li>.Net 4.0 or higher</li>
<li>Visual Studio 2010 or higher</li>
<li>IIS 7.0 or higher</li>
</ul>
</p>

<p>
To install JSNLog:
</p>

<ol>
<li>
Load your solution or project in Visual Studio, 
and open the Package Manager Console: <i>Tools</i> | <i>Library Package Manager</i> | <i>Package Manager Console</i>.
<p />
</li>
<li>
Enter the following at the PM> prompt to install JSNLog:
<pre>
Install-Package JSNLog
</pre>
<p />
</li>
<li>
Install the Common.Logging adapter for your server side logging package (Log4Net, NLog, Enterprise Library, etc.)
<p>
<ol style="list-style-type:lower-roman">
<li>
<a href="http://nuget.org/packages?q=common.logging" target="_blank">Click here</a>
to find adapters on Nuget (Common.Logging.Log4Net, Common.Logging.NLog 2.0.0, etc.) 
</li>
<li>
Click the one you need. A page will open with its
Intall-Package command.
</li>
<li>
Enter that command at the PM> prompt in Visual Studio.
</li>
</ol>
</p>
</li>

<li>
Configure the adapter in your web.config. Click the link below for the server side logging package you use:
<p>
<ul>
<li><a href="http://netcommon.sourceforge.net/docs/2.1.0/reference/html/ch01.html#logging-adapters-log4net" target="_blank">Log4Net</a></li>
<li><a href="http://netcommon.sourceforge.net/docs/2.1.0/reference/html/ch01.html#logging-adapters-nlog" target="_blank">NLog</a></li>
<li><a href="http://netcommon.sourceforge.net/docs/2.1.0/reference/html/ch01.html#d4e271" target="_blank">Enterprise Library</a></li>
<li><a href="http://www.dotblogs.com.tw/wadehuang36/archive/2011/10/06/Common-Logging-Elmah.aspx" target="_blank">Elmah</a></li>
</ul>
</p>
<p>
The 
<a href="https://github.com/mperdeck/jsnlog" target="_blank">sample code</a> has a working example of a configuration for Log4Net.
</p>
</li>

<li>
Call JSNLog's Configure method in your pages, before any script tags that load JavaScript
that use JSNLog loggers.
<p>
<ul>
<li>
In a razor file (normally used with MVC3 and up), use:
<pre>
@@Html.Raw(JSNLog.JavascriptLogging.Configure())
</pre>
<p />
</li>
<li>
In an .asxp file, use:
<pre>
&lt;%= JSNLog.JavascriptLogging.Configure() %&gt;
</pre>
<p />
</li>
</ul>
</p>
</li>

</ol>

<p>
@Html.ActionLink("Getting Started", "GettingStarted", "Documentation") &gt;&gt;
</p>


