@{
    ViewBag.Title = "<ajaxAppender> Element";
    ViewBag.Key = "webconfig-ajaxappender";
    ViewBag.Description = "Configures an Ajax Appender";
    Layout = "~/Views/Shared/_ElementLayout.cshtml";
}


@section Definition {
<pre>&lt;configuration&gt; 
    &lt;jsnlog&gt;
        &lt;ajaxAppender 
            name="string" 
            level="number|TRACE|DEBUG|INFO|WARN|ERROR|FATAL" 
            ipRegex="regular expression"
            userAgentRegex="regular expression"
            storeInBufferLevel="number|TRACE|DEBUG|INFO|WARN|ERROR|FATAL" 
            sendWithBufferLevel="number|TRACE|DEBUG|INFO|WARN|ERROR|FATAL" 
            bufferSize="number" 
            batchSize="number" 
            url="string"/&gt;
    &lt;/jsnlog&gt;
&lt;/configuration&gt; 
</pre>
}

@section Remarks {
    <p>
    The &lt;ajaxAppender&gt; element can have the following attributes: 
        </p>

    @Html.Partial("_AjaxAppenderRemarks",new ViewDataDictionary { 
            { "objectType", "AjaxAppender"}, 
            { "configSource", "web.config"} 
        })
}

@section Examples {
<p>
    This 
    creates an appender with the behaviour below and than attaches it to the root logger:
</p>
    <ul>
        <li>
            It has an internal buffer that stores at most 20 log messages;
        </li>
        <li>
Log messages with severity smaller than 1000 (TRACE) are ignored.
        </li>
        <li>
Log messages with severity equal or greater than 1000 (TRACE) and lower than 4000 (WARN) are stored in the internal buffer,
        but not sent to the server;
        </li>
        <li>
Log messages with severity equal or greater than 4000 (WARN) and lower than 6000 (FATAL) are 
            sent to the server on their own;
        </li>
        <li>
Log messages with severity equal or greater than 6000 (FATAL) are 
            sent to the server, along with all messages stored in the internal buffer.
        </li>
    </ul>

<pre>&lt;ajaxAppender 
    name="appender1" 
    storeInBufferLevel="1000" 
    level="4000" 
    sendWithBufferLevel="6000" 
    bufferSize="20"/&gt;
&lt;logger appenders="appender1"/&gt;</pre>

}

