@using ViewExtensions

@{
    ViewBag.Title = "<ajaxAppender> Element";
    ViewBag.Key = "webconfig-ajaxappender";
    ViewBag.Description = "Configures an Ajax Appender.";
    Layout = "~/Views/Shared/_ElementLayout.cshtml";
    ViewBag.VersionNameRegex = "NetJs";
}

@section Definition {
@Html.Partial("_AppenderWebConfigDefinition", new ViewDataDictionary {
            { "objectType", "ajaxAppender"},
            { "configSource", "web.config"}
        })
}

@section Remarks {
    @Html.Partial("_AjaxAppenderIntro", new ViewDataDictionary { 
            { "configSource", "web.config"} 
        })

    <p>
    The &lt;ajaxAppender&gt; element can have the following attributes: 
        </p>

    @Html.Partial("_AppenderRemarks",new ViewDataDictionary { 
            { "objectType", "AjaxAppender"}, 
            { "configSource", "web.config"} 
        })
}

@section Examples {
<p>
    This 
    creates an appender with the behaviour below and than attaches it to the root logger:
</p>
    <ul>
        <li>
            It has an internal buffer that stores at most 20 log messages;
        </li>
        <li>
Log messages with severity smaller than TRACE are ignored.
        </li>
        <li>
Log messages with severity equal or greater than TRACE and lower than WARN are stored in the internal buffer,
        but not sent to the server;
        </li>
        <li>
Log messages with severity equal or greater than WARN and lower than FATAL are 
            sent to the server on their own;
        </li>
        <li>
Log messages with severity equal or greater than FATAL are 
            sent to the server, along with all messages stored in the internal buffer.
        </li>
    </ul>

<pre>&lt;ajaxAppender 
    name="appender1" 
    storeInBufferLevel="TRACE" 
    level="WARN" 
    sendWithBufferLevel="FATAL" 
    bufferSize="20"/&gt;
&lt;logger appenders="appender1"/&gt;</pre>

}

