@using ViewExtensions

@{
    ViewBag.Title = "<consoleAppender> Element";
    ViewBag.Key = "webconfig-consoleappender";
    ViewBag.Description = "Configures a Console Appender.";
    Layout = "~/Views/Shared/_ElementLayout.cshtml";
    ViewBag.VersionNameRegex = "NetJs";
}

@section Definition {
@Html.Partial("_AppenderWebConfigDefinition", new ViewDataDictionary {
            { "objectType", "consoleAppender"},
            { "configSource", "web.config"}
        })
}

@section Remarks {
@Html.Partial("_ConsoleAppenderIntro", new ViewDataDictionary {
            { "configSource", "web.config"}
        })


    <h3>Attributes</h3>
    <p>
    The &lt;consoleAppender&gt; element can have the following attributes: 
        </p>

    @Html.Partial("_AppenderRemarks",new ViewDataDictionary { 
            { "objectType", "ConsoleAppender"}, 
            { "configSource", "web.config"} 
        })
}


