
<p>
    This creates a log message &quot;log message&quot; with severity 
    @(((string)(ViewData["level"])).ToUpper()).
</p>

<pre>JL().@(((string)(ViewData["level"])).ToLower())<text>("log message");</text></pre>




