
<pre>@(((string)(ViewData["level"])).ToLower())<text>(message: string): Logger</text></pre>

<section class="parameters">
<h3>Parameters</h3>

<dl>
    <dt>message</dt>
    <dd>Message to be logged.</dd>
</dl>
    
<h3>Return Value</h3>
<p>
The logger itself.
</p>




