@using ViewExtensions

<pre>@(((string)(ViewData["level"])).ToLower())<text>(logObject: any): Logger</text></pre>

<section class="parameters">
<h3>Parameters</h3>

    <table class="table medium no-borders">
        <tr>
            <th>logObject</th>
            <td>String or object to be logged, or a function that returns the string or object to be logged
        (@Html.ViewLink("jsnlogjs-logger-log", "details", fragment: "Remarks")).</td>
        </tr>
    </table>

<h3>Return Value</h3>
<p>
The Logger itself.
</p>
</section>



