@using ViewExtensions

<pre>@(((string)(ViewData["level"])).ToLower())<text>(logObject: any): Logger</text></pre>

<section class="parameters">
<h3>Parameters</h3>

<dl>
    <dt>logObject</dt>
    <dd>String or object to be logged, or a function that returns the string or object to be logged
        (@Html.ViewLink("jsnlogjs-logger-log", "details", fragment: "Remarks")).</dd>
</dl>
    
<h3>Return Value</h3>
<p>
The logger itself.
</p>




