
<pre><text>get</text>@ViewData["level"]<text>Level(): number</text></pre>

<section class="parameters">
    
<h3>Return Value</h3>
<p>
The numeric value of the @(((string)(ViewData["level"])).ToUpper()) level.
</p>




