@{
    string returnedObjectName = (string)(ViewData["returnType"]);
}

<pre>setOptions(options: any): @((string)(ViewData["returnType"]))</pre>

<section class="parameters">
<h3>Parameters</h3>

<dl>
    <dt>options</dt>
    <dd>A JSON object with options. See the Remarks sections below.</dd>
</dl>
    
    @if (returnedObjectName != "void")
    {
<h3>Return Value</h3>
<p>
The 
    @returnedObjectName itself.
        
</p>
    }

