@{
    string returnedObjectName = (string)(ViewData["returnType"]);
}

<pre>setOptions(options: any): @(returnedObjectName)</pre>

<section class="parameters">
    <h3>Parameters</h3>

    <table class="table medium no-borders">
        <tr>
            <th>options</th>
            <td>A JSON object with options. See the Remarks sections below.</td>
        </tr>
    </table>


    @if (returnedObjectName != "void")
    {
    <h3>Return Value</h3>
    <p>
        The
        @returnedObjectName itself.
    </p>
    }
   </section>
