@{
    string returnedObjectName = (string)(ViewData["returnType"]);
    if (returnedObjectName == "void") { returnedObjectName = ""; }
}

<pre>setOptions(options: any): @((string)(ViewData["returnType"]))</pre>

<section class="parameters">
<h3>Parameters</h3>

        <table class="table medium no-borders">
        <tr>
            <th>options</th>
            <td>A JSON object with options. See the Remarks sections below.</td>
        </tr>
    </table>



<h3>Return Value</h3>
<p>
The 
    @returnedObjectName itself.
</p>

