@using ViewExtensions

@{
    ViewBag.Title = "Download/Installation";
    ViewBag.Key = "downloadinstall";
    ViewBag.Description = "How to download and install JSNLog.";
}


@*
--------------------------------------------------------------------------
If the url or the hash tag of the additional config steps ever changes,
also change the Nuget readme file
--------------------------------------------------------------------------
*@

<h2>1. Install JSNLog</h2>

<ol type="a">
<li>
Load your solution or project in Visual Studio, 
and open the Package Manager Console: <i>Tools</i> | <i>Library Package Manager</i> | <i>Package Manager Console</i>.
<p />
</li>
<li>
Enter the following at the PM> prompt to install JSNLog:
<pre>Install-Package JSNLog</pre>
</li>
</ol>


    @*
    ---------------------------------------------------------
    The hash "additional" is used in the Nuget readme file
    ---------------------------------------------------------
    *@
    <a name="additional"></a>
<h2>2. Make it work with your server side logging package</h2>

<p>
    JSNLog assumes you already have a server side logging package installed. It uses a third party package, Common.Logging,
    to pass log messages onto your server side logging package. To make this work, some additional package specific
    configuration is needed.
</p>

<h3>Log4Net</h3>
<ol type="a">
<li>
    Install the Common.Logging.Log4Net1211 package at the PM&gt; prompt:
    <pre>Install-Package Common.Logging.Log4Net1211</pre>
</li>
<li>
Add Common.Logging.Log4Net1211 to your web.config - 
    <a href="http://netcommon.sourceforge.net/docs/2.1.0/reference/html/ch01.html#logging-adapters-log4net" target="_blank">click here for instructions</a>.
<p />
</li>
<li>
The instructions refer to <span class="term">Common.Logging.Log4net<b>1210</b></span>, but that won't work. 
    In your web.config, replace this with
    <span class="term">Common.Logging.Log4net<b>1211</b></span>.
</li>
</ol>



<h3>NLog</h3>
<ol type="a">
<li>
    Install the Common.Logging.NLog20 package at the PM&gt; prompt:
    <pre>Install-Package Common.Logging.NLog20</pre>
</li>
<li>
Add Common.Logging.NLog20 to your web.config - 
    <a href="http://netcommon.sourceforge.net/docs/2.1.0/reference/html/ch01.html#logging-adapters-nlog" target="_blank">click here for instructions</a>.
<p />
</li>
<li>
The instructions refer to <span class="term">Common.Logging.<b>NLog10</b></span>, but that won't work. 
    In your web.config, replace this with
    <span class="term">Common.Logging.<b>NLog20</b></span>.
</li>
</ol>


<h3>Elmah</h3>
<ol type="a">
<li>
    Install the Common.Logging.Elmah package at the PM&gt; prompt:
    <pre>Install-Package Common.Logging.Elmah</pre>
</li>
</ol>

<h2>3. Add JSNLog to your pages</h2>

<p>
Call JSNLog's 
    @Html.ViewLink("javascriptlogging-configure", "Configure")
     method in your pages, before any script tags that load JavaScript
that use JSNLog loggers.
    </p>
<ul>
<li>
    <b>For Razor (MVC3+)</b>, use:
<pre>@@Html.Raw(JSNLog.JavascriptLogging.Configure())
... your other script tags</pre>
<p />
</li>
<li>
<b>For WebForms</b>, use:
<pre>&lt;%= JSNLog.JavascriptLogging.Configure() %&gt;
... your other script tags</pre>
</li>
    </ul>

<p>
    @Html.ViewLink("getstartedlogging")
    &gt;&gt;
</p>


