@using JSNLog.TestSite.Logic

<h2>MaxMessagesTests</h2>

<!-- 
    Ensure that no more than MaxMessages will be sent, if MaxMessages > 0
-->

@Html.Raw(JSNLog.TestSite.Logic.TestUtils.SetupTest(
"235.1.99.12", "id123",
@"
<jsnlog maxMessages=""3"" productionLibraryPath=""~/scripts/libs/jsnlog.js"">
    <ajaxAppender url=""http://dummy.com/da1"" name=""da1"" />
    <logger name="""" appenders=""da1"" />
    <logger name=""a"" appenders=""da1"" />
    
    <ajaxAppender url=""http://dummy.com/da2"" name=""da2"" />
    <logger name=""b"" appenders=""da2"" />
    
    <ajaxAppender url=""http://dummy.com/da3"" name=""da3"" />
    <logger name=""c"" appenders=""da3"" />
</jsnlog>
",
new [] {
    new T(3000, "a", 1),
    new T(3000, "c", 2),
    new T(3000, "", 1),
    new T(3000, "b", 0),
    new T(3000, "a", 0),
    new T(3000, "", 0),
    
    new T(checkNbr: 1, checkAppender: "da1"),
    new T(checkNbr: 2, checkAppender: "da3"),
    new T(checkNbr: 3, checkAppender: "da2")
}))


