@using JSNLog
@using JSNLog.Tests.Common;

    <h2>RequestIdTest</h2>
    @{ 
        CommonTestHelpers.SetConfigCache(@"<jsnlog></jsnlog>");
    }

    <div id="IdFromController">@ViewBag.RequestId</div>
    <div id="IdFromView">@HttpContext.RequestId()</div>
    <div id="IdFromJL"></div>

    <script type="text/ecmascript">
        $(function() {
            $("#IdFromJL").html(JL.requestId);
            $("#running").remove(); // make sure OnError doesn't think the page has errored
        });
    </script>
