@using JSNLog
@using JSNLog.Infrastructure
@using JSNLog.Tests.Common
@model JSNLog.TestSite.Models.RequestIdVm

    <h2>RequestIdTest</h2>
    @{ 
        CommonTestHelpers.SetConfigCache(@"<jsnlog></jsnlog>");
    }

    <div id="IdFromController">@Model.RequestId</div>
    <div id="IdFromView">@((new HttpContextWrapper(HttpContext.Current)).RequestId())</div>
    <div id="IdFromJL"></div>

    <script type="text/ecmascript">
        $(function() {
            $("#IdFromJL").html(JL.requestId);
            $("#running").remove(); // make sure OnError doesn't think the page has errored
        });
    </script>
