<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
    <log4net>
        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
            <!-- prevent log4net from locking the file, otherwise integration tests cannot remove it for each test-->
            <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
            <!--<file value="Logs/weblog.txt"/>-->
            <file value="Logs\weblog.txt" />
            <appendToFile value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%utcdate | %level | %logger | %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="DEBUG" />
            <appender-ref ref="RollingFile" />
        </root>
    </log4net>
</configuration>