<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="jsnlog" type="JSNLog.ConfigurationSectionHandler, JSNLog" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.1"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="*.logger" type="JSNLog.LoggerHandler, JSNLog"/>
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <add name="LoggerHandler" verb="*" path="*.logger" type="JSNLog.LoggerHandler, JSNLog" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="LoggerHandler-Classic" path="*.logger" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode"/>
    </handlers>
  </system.webServer>
  <!--jsnlog element not defined here, because it is defined in the Views that are used for testing-->
  <!--<jsnlog productionLibraryPath="~/scripts/libs/jsnlog.js">
    <ajaxAppender name="da1" />
    <logger name="" appenders="da1" />

    <ajaxAppender name="da2" level="ERROR" />
    <logger name="l2" appenders="da2" level="WARN" />

    <logger name="x2" level="INFO" />
    -->
  <!-- inherits appender from root -->
  <!--

    -->
  <!-- batch size -->
  <!--

    <ajaxAppender name="da10" batchSize="3" />
    <logger name="l10" appenders="da10" level="WARN" />

    -->
  <!-- IP filtering -->
  <!--

    <ajaxAppender name="da20" ipRegex="1\.98" />
    -->
  <!--never matches-->
  <!--
    <ajaxAppender name="da21" ipRegex="1\.99" />

    <logger name="l20b" appenders="da20" />
    <logger name="l20c" appenders="da21" />

    <logger name="l21a" appenders="da1" ipRegex="1\.98" />
    <logger name="l21b" appenders="da20" ipRegex="1\.98" />
    <logger name="l21c" appenders="da21" ipRegex="1\.98" />

    <logger name="l22a" appenders="da1" ipRegex="1\.99" />
    <logger name="l22b" appenders="da20" ipRegex="1\.99" />
    <logger name="l22c" appenders="da21" ipRegex="1\.99" />

    -->
  <!-- User Agent filtering. The tests are run in Chrome -->
  <!--

    <ajaxAppender name="da30" userAgentRegex="Unknown Browser" />
    -->
  <!--never matches-->
  <!--
    <ajaxAppender name="da31" userAgentRegex="Chrome" />

    <logger name="l30b" appenders="da30" />
    <logger name="l30c" appenders="da31" />

    <logger name="l31a" appenders="da1" userAgentRegex="Unknown Browser" />
    <logger name="l31b" appenders="da30" userAgentRegex="Unknown Browser" />
    <logger name="l31c" appenders="da31" userAgentRegex="Unknown Browser" />

    <logger name="l32a" appenders="da1" userAgentRegex="Chrome" />
    <logger name="l32b" appenders="da30" userAgentRegex="Chrome" />
    <logger name="l32c" appenders="da31" userAgentRegex="Chrome" />

    -->
  <!-- Buffer tests -->
  <!--

    <ajaxAppender name="da40" storeInBufferLevel="2000" level="3000" sendWithBufferLevel="4000" bufferSize="2"/>
    <logger name="l40" appenders="da40" level="1000" />

    <ajaxAppender name="da41" storeInBufferLevel="DEBUG" level="INFO" sendWithBufferLevel="WARN" bufferSize="2" batchSize="3"/>
    <logger name="l41" appenders="da41" level="TRACE" />

    -->
  <!-- Appender tests -->
  <!--

    <ajaxAppender name="da51" level="3000" />
    <ajaxAppender name="da52" level="4000" />
    <logger name="l50" appenders="da51;da52" />
    -->
  <!-- 2 appenders -->
  <!--

    <logger name="l51" appenders="" />
    -->
  <!-- no appenders -->
  <!--

    -->
  <!-- Testing ALL and OFF -->
  <!--

    <ajaxAppender name="da60" level="ALL" />
    <logger name="l60" appenders="da60" level="ALL" />

    <logger name="l61" appenders="da1" level="OFF" />

    -->
  <!-- Stopping duplicates -->
  <!--

    -->
  <!-- Logger inherit appender from root -->
  <!--
    <logger name="l100" />

    <logger name="l101">
      <onceOnly regex="msg" />
    </logger>

    <logger name="l102" level="1000">
      <onceOnly regex="msg" />
      <onceOnly regex="xyz" />
    </logger>

    <logger name="l103">
      <onceOnly regex="msg" />
      <onceOnly regex="x[a-z]z" />
      <onceOnly regex="abc" />
    </logger>

    <logger name="l103.x2">
      <onceOnly regex="msg" />
    </logger>

    <logger name="l103.x3">
      <onceOnly />
    </logger>

    -->
  <!-- disallow -->
  <!--

    <ajaxAppender name="da110" disallow="x[a-z]z" />

    <logger name="l110" appenders="da110" />
    <logger name="l111" disallow="msg" />
    <logger name="l111.x1" disallow="" />

  </jsnlog>-->
</configuration>
