@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmptyElmah</title>
@*    @Html.Raw(JSNLog.JavascriptLogging.Configure())*@
</head>
<body>
    <h1>EmptyElmah</h1>
    <script type="text/ecmascript">
        // JL("jsLogger").fatal("log message");
        alert('elmah');
    </script>
        
    <div>
    </div>
</body>
</html>
