<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Antiforgery" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Authorization" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Cryptography.Internal" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.DataProtection" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.DataProtection.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Diagnostics.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.FileProviders.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.FileProviders.Physical" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Hosting.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Html.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Http.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Http.Extensions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Http.Features" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.JsonPatch" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.Abstractions" version="6.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.Core" version="6.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.DataAnnotations" version="6.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.Formatters.Json" version="6.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.Razor" version="6.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.Razor.Host" version="6.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.TagHelpers" version="6.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.ViewFeatures" version="6.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.PageExecutionInstrumentation.Interfaces" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="4.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor.Runtime" version="4.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor.Runtime.Precompilation" version="4.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.Routing" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebUtilities" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.1.0-rc1-20151109-01" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.1.0-rc1-20151109-01" targetFramework="net451" />
  <package id="Microsoft.Dnx.Compilation.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Dnx.Compilation.CSharp.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Dnx.Compilation.CSharp.Common" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Caching.Memory" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Localization" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.MemoryPool" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.OptionsModel" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.WebEncoders" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.WebEncoders.Core" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Net.Http.Headers" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net451" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0-beta-23516" targetFramework="net451" />
  <package id="System.Reflection.Metadata" version="1.1.0" targetFramework="net451" />
</packages>