<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="~/Scripts/jquery-2.1.0.min.js"></script>
        <script type="text/ecmascript" src="~/Scripts/TestUtils.js"></script>
    </head>
    <body>
        <div id="loaded">Page Loaded</div>
        <div id="running">Test Running</div>

        @RenderBody()
    </body>
</html>
