<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/ecmascript" src="~/Scripts/jsnlog.js"></script>
        <script type="text/ecmascript" src="~/Scripts/DummyAppender.js"></script>
        <script type="text/ecmascript" src="~/Scripts/TestUtils.js"></script>
    </head>
    <body>
        <div id="running">Test Running</div>

        @RenderBody()
    </body>
</html>
