@using ViewExtensions

@{
    ViewBag.Title = "JSNLog.js";
    ViewBag.Key = "jsnlogjs";
    ViewBag.Description = "The JSNLog.js library";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
}

<h1>@ViewBag.Title</h1>
<p>
    Use the JSNLog.js library to configure JavaScript logging and create log items.
</p>

@if (PageVersions.CurrentVersion() == "NetJs")
{
<p>
    If you use the JSNLog elements in web.config to configure JavaScript logging, there is little need to become familiar
    with JSNLog.js. In that case, the only JSNLog specific JavaScript code you actually write is to
    create log items, which is shown in the 
    @Html.ViewLink("getstartedlogging")
    section.
</p>
}

    @Html.ChildrenTable(cssClass: "border")


