@using ViewExtensions

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-sm-3">
        <div class="documentation-menu">
            <a id="menustart"></a>
            @Html.ViewMenu()
        </div>
    </div>

    <div class="col-sm-9">
        <a id="contentstart"></a>
        @if (string.IsNullOrWhiteSpace(ViewBag.H1))
        {
            <h1>@ViewBag.Title</h1>
        }
        else
        {
            <h1>@ViewBag.H1</h1>
        }

        @RenderBody()
    </div>
