@using ViewExtensions

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="documentation">
    <div class="documentation-menu">
        @Html.ViewMenu()
    </div>

    <div class="documentation-body">
    @RenderBody()
    </div>
</div>
