@using ViewExtensions

@{
    ViewBag.Title = "Logger Object";
    ViewBag.Key = "jsnlogjs-logger";
    ViewBag.Description = "Represents a JavaScript logger.";
}


@section Remarks {
<p>
    Represents a single logger.
</p>
<p>
    JavaScript loggers can be created and retrieved by name using the 
     @Html.ViewLink("jsnlogjs-jl-method", "JL method")<text>.</text>
</p>
    }

