@{
    ViewBag.Title = "log Method";
    ViewBag.Key = "jsnlogjs-logger-log";
    ViewBag.Description = "Creates a log item";
}


@section Definition {
<pre>log(level: number, message: string): Logger</pre>

<section class="parameters">
<h3>Parameters</h3>

<dl>
    <dt>level</dt>
    <dd>Severity of the message to be logged.</dd>
    <dt>message</dt>
    <dd>Message to be logged.</dd>
</dl>
    
<h3>Return Value</h3>
<p>
The logger itself.
</p>
}

@section Examples {
<p>
    This creates a log message &quot;log message&quot; with severity 2500.
</p>

<pre>JL().log(2500, "log message");</pre>
}

