@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ol>
    <li>
        <a target="_blank" href="~/Home/JSTests">JSTests</a>
    </li>
    <li>
        <a target="_blank" href="~/Home/NotEnabledTest">NotEnabledTest</a>
    </li>
    <li>
        <a target="_blank" href="~/Home/MaxMessagesTest">MaxMessagesTest</a>
    </li>
    <li>
        <a target="_blank" href="~/Home/MaxMessagesTest0">MaxMessagesTest0</a>
    </li>
    <li>
        <a target="_blank" href="~/Home/MaxMessagesTestBatching">MaxMessagesTestBatching</a>
    </li>
    <li>
        <a target="_blank" href="~/Home/RequestIdTest">RequestIdTest</a>
    </li>
    <li>
        <a target="_blank" href="~/Home/RequestIdTest/6789">RequestIdTest/6789</a>
    </li>
    <li>
        <a target="_blank" href="~/Html/requirejstest.html">requirejstest</a>
    </li>
    <li>
        <a target="_blank" href="~/Html/exceptiontests.html">exceptiontests</a>
    </li>
</ol>
