@using JSNLog.TestSite.Logic

<h2>Index2</h2>

<!-- 
    Ensure that logging something while enabled is false doesn't crash the JS
-->

@Html.Raw(JSNLog.TestSite.Logic.TestUtils.SetupTest(
"235.1.99.12", "id123",
@"
<jsnlog enabled=""false"" productionLibraryPath=""~/scripts/libs/jsnlog.js"">
    <ajaxAppender url=""http://dummy.com/da1"" name=""da1"" />
    <logger name="""" appenders=""da1"" />
</jsnlog>
",
new [] {
    new T(1000, "", 0),
    new T(1500, "", 0),
    new T(2000, "", 0),
    new T(3000, "", 0)
    
}))

<script type="text/javascript">
    var resultDiv;
    resultDiv = $('<div style="border-top: 3px green solid" >not-enabled test passed</div>');

    $('body').append(resultDiv);

    $('#running').remove();

</script>

