@using JSNLog
@using System.Web;
@using JSNLog.Tests.Common;

    <h2>RequestIdTest</h2>
    @{ 
        CommonTestHelpers.SetConfigCache(@"<jsnlog productionLibraryPath=""~/scripts/libs/jsnlog.js""></jsnlog>");
    }

    @Html.Raw(JSNLog.JavascriptLogging.Configure(ViewBag.PassedInRequestId))

    <div id="IdFromController">@ViewBag.RequestId</div>
    <div id="IdFromView">@HttpContext.Current.RequestId()</div>
    <div id="IdFromJL"></div>

    <script type="text/ecmascript">
        $(function() {
            $("#IdFromJL").html(JL.requestId);
            $("#running").remove(); // make sure OnError doesn't think the page has errored
        });
    </script>
