@using JSNLog
@using JSNLog.Infrastructure
@using Microsoft.AspNet.Http;

@inject IHttpContextAccessor httpContextAccessor

    <h2>RequestIdTest</h2>

    @Html.Raw(JSNLog.Tests.Logic.TestUtils.SetupRequestIdTest(httpContextAccessor.HttpContext, ViewBag.PassedInRequestId, 
        @"<jsnlog productionLibraryPath=""~/Scripts/libs/jsnlog.js""></jsnlog>"))

    <div id="IdFromController">@ViewBag.RequestId</div>
    <div id="IdFromView">@httpContextAccessor.HttpContext.GetRequestId()</div>
    <div id="IdFromJL"></div>

    <script type="text/ecmascript">
        $("#IdFromJL").html(JL.requestId);
    </script>
