@using JSNLog
@using Microsoft.AspNetCore.Http;
@using JSNLog.Tests.Common;

@inject IHttpContextAccessor httpContextAccessor
@addTagHelper "*, JSNLog"


    <h2>RequestIdTest</h2>
    @{ 
        CommonTestHelpers.SetConfigCache(@"<jsnlog></jsnlog>");
    }

    <jl-javascript-logger-definitions request-id="@ViewBag.PassedInRequestId" />

    <div id="IdFromController">@ViewBag.RequestId</div>
    <div id="IdFromView">@httpContextAccessor.HttpContext.RequestId()</div>
    <div id="IdFromJL"></div>

    <script type="text/ecmascript">
        $(function() {
            $("#IdFromJL").html(JL.requestId);
            $("#running").remove(); // make sure OnError doesn't think the page has errored
        });
    </script>
