@using JSNLog
@using Microsoft.AspNet.Http;

@inject IHttpContextAccessor httpContextAccessor

    <h2>RequestIdTest</h2>

    @Html.Raw(JSNLog.Tests.Logic.TestUtils.SetupRequestIdTest(httpContextAccessor.HttpContext, ViewBag.PassedInRequestId, 
        @"<jsnlog productionLibraryPath=""~/Scripts/libs/jsnlog.js""></jsnlog>"))

    <div id="IdFromController">@ViewBag.RequestId</div>
    <div id="IdFromView">@httpContextAccessor.HttpContext.RequestId()</div>
    <div id="IdFromJL"></div>

    <script type="text/ecmascript">
    $("#IdFromJL").html(JL.requestId);
    $("#running").remove(); // make sure OnError doesn't think the page has errored
    </script>
