
<div class="main-menu"> 
        <ul>
        <li>
        @Html.ActionLink("Home", "Index", "Home")
        </li>
        <li>
        @Html.ActionLink("Install/Download", "Install", "Documentation")
        </li>
        <li>
        @Html.ActionLink("Benefits", "Benefits", "Documentation")
        </li>
        <li>
        @Html.ActionLink("Documentation", "Index", "Documentation")
        </li>
        <li>
            <a href="https://github.com/mperdeck/jsnlog" target="_blank">Source</a>
        </li>
        @*<li>
        <a href="http://groups.google.com/group/jsnlog" target="_blank">Forum</a>
        </li>
        *@</ul>
</div>


