@{
    ViewBag.Title = "JSNLog sample - MVC";
}

<h2>@ViewBag.Title</h2>
  <fieldset>
    <legend>jsnlog_simpletest</legend>
      <input type="button" id="jsnlog_simpletest_btnTrace" value="trace" />
      <input type="button" id="jsnlog_simpletest_btnDebug" value="debug" />
      <input type="button" id="jsnlog_simpletest_btnInfo" value="info" />
      <input type="button" id="jsnlog_simpletest_btnWarn" value="warn" />
      <input type="button" id="jsnlog_simpletest_btnError" value="error" />
      <input type="button" id="jsnlog_simpletest_btnFatal" value="fatal" />
  </fieldset>

  <fieldset>
    <legend>jsnlog_batchtest</legend>
      <input type="button" id="jsnlog_batchtest_btnTrace" value="trace" />
      <input type="button" id="jsnlog_batchtest_btnDebug" value="debug" />
      <input type="button" id="jsnlog_batchtest_btnInfo" value="info" />
      <input type="button" id="jsnlog_batchtest_btnWarn" value="warn" />
      <input type="button" id="jsnlog_batchtest_btnError" value="error" />
      <input type="button" id="jsnlog_batchtest_btnFatal" value="fatal" />
  </fieldset>

  <fieldset>
    <legend>jsnlog_speciallogger</legend>
      <input type="button" id="jsnlog_speciallogger_btnStartTimer" value="start timer" /><p />
      <input type="button" id="jsnlog_speciallogger_btnEndTimer" value="end timer and log time, with level INFO" /><p />
      <input type="button" id="jsnlog_speciallogger_btnAssertFalse" value="assert 0==1, with level ERROR" /><p />
      <input type="button" id="jsnlog_speciallogger_btnAssertTrue" value="assert 1==1 (causes no action)" />
  </fieldset>
