@using ViewExtensions

@{
    ViewBag.Title = "createConsoleAppender Method";
    ViewBag.Key = "jsnlogjs-jl-createConsoleAppender";
    ViewBag.Description = "Creates a ConsoleAppender.";
}


@section Definition {
<pre>createConsoleAppender(appenderName: string): ConsoleAppender</pre>

<section class="parameters">
    <h3>Parameters</h3>

    <table class="table medium no-borders">
        <tr>
            <th>appenderName</th>
            <td>Name of the new appender.</td>
        </tr>
    </table>

    <h3>Return Value</h3>
    <p>
        A new
        @Html.ViewLink("jsnlogjs-consoleappender", "ConsoleAppender")<text>.</text>
    </p>
}

@section Examples {
    <p>
        This creates an appender &quot;appender1&quot;.
    </p>

<pre>var appender=JL.createConsoleAppender('appender1');</pre>
}


