@using ViewExtensions

@{
    ViewBag.Title = "JL Namespace and Method";
    ViewBag.Key = "jsnlogjs-jl";
    ViewBag.Description = "JSNLog namespace. Also creates loggers and retrieves loggers by name.";
}

@section Remarks {
<p>
    This is the namespace containing all JSNLog JavaScript objects.
</p>
    <p>
        It also serves as the 
                    @Html.ViewLink("jsnlogjs-jl-method", "method")
        that creates or retrieves loggers.
    </p>

    }

