<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <nlog throwExceptions="true" internalLogFile=" Nlog.txt" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets xmlns=" http://www.nlog-project.org/schemas/NLog.xsd">
      <target name="file" xsi:type="File" layout="${longdate} ${threadid:padding=3} ${level:padding=-30} ${logger:padding=-30} ${message} ${exception:format=tostring}" fileName="${basedir}/logs/${shortdate}.txt"/>
    </targets>
    <rules xmlns=" http://www.nlog-project.org/schemas/NLog.xsd">
      <logger name="*" minlevel="Trace" writeTo="file"/>
    </rules>
  </nlog>
</configuration>