<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
        </sectionGroup>
        <section name="jsnlog" type="JSNLog.ConfigurationSectionHandler, JSNLog" requirePermission="false"/>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>

    <jsnlog
        productionLibraryPath="~/Scripts/jsnlog/jsnlog.js" 
        stubPath="~/Scripts/jsnlog/jsnlog_stub.js"
        serverSideLogger="jslogger"
        serverSideLevel="ERROR"
        serverSideMessageFormat="%utcdate %logger %level %url %sessionid %newline    %userAgent %userHostAddress %newline    %message">

        <appender name="appender1">
            <batchSize value="2" />
        </appender>

        <appender name="appender2">
            <timerInterval value="3000"/>
        </appender>

        <!--Change root logger level to TRACE. All other loggers will inherit this.
        This way, TRACE messages too will be logged (by default, only messages with severity DEBUG and higher
        will be logged).-->
        <root>
            <level value="TRACE"></level>
        </root>

        <!--Associate all jsnlog_batchtest.* loggers with appender1.
        This appender does size based batching - it holds onto log messages until it has 2,
        then sends the 2 in a single request to the server.-->
        <logger name="jsnlog_batchtest" additivity="false">
            <appender-ref ref="appender1" />
        </logger>

        <!--Give all jsnlog_speciallogger.* loggers the level INFO-->
        <logger name="jsnlog_speciallogger">
            <level value="INFO"></level>
        </logger>

    </jsnlog>

    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
                <arg key="configType" value="INLINE"/>
            </factoryAdapter>
        </logging>
    </common>
    
    <log4net>
        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
            <file value="Logs/weblog.txt"/>
            <appendToFile value="true"/>
            <maximumFileSize value="100KB"/>
            <maxSizeRollBackups value="2"/>

            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%level %logger - %message%newline"/>
            </layout>
        </appender>

        <root>
            <level value="DEBUG"/>
            <appender-ref ref="RollingFile"/>
        </root>
    </log4net>
    
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <httpHandlers>
        
      <add verb="*" path="*.logger" type="JSNLog.LoggerHandler, JSNLog"/>
        
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
        
      <add name="LoggerHandler" verb="*" path="*.logger" type="JSNLog.LoggerHandler, JSNLog" resourceType="Unspecified"/>
        
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
