@using ViewExtensions
@using WebSite.App_Code

@{
    ViewBag.Title = "JavaScript logging integrated with PHP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Hero {
    <section class="hero">
        <div class="container">
            <div class="row">

    <div class="col-sm-12">
        <h1>JavaScript logging integrated with PHP</h1>
    </div>

            </div>
        </div>
    </section>
}

<section class="features">
    <p>
        Third party library integrating jsnlog.js with PHP:
    </p>
    <ul>
        <li><a target="_blank" href="https://github.com/pnellesen/JSPHPLog">JSPHPLog</a></li>
    </ul>

    <p>
        Use this library in your server side PHP. It uses the 
        <a href="http://js.jsnlog.com">standard jsnlog.js JavaScript library</a> on the client.
    </p>
</section>



