{
  "version": "__Version__",
  "testRunner": "xunit",
  "description": "JSNLog.Tests Class Library",
  "authors": [
    "mperdeck"
  ],
  "frameworks": {
    "net452": {
      "dependencies": {}
    }
  },
  "dependencies": {
    "xunit": "2.1.0",
    "dotnet-test-xunit": "1.0.0-rc2-build10025",
    "JSNLog": "__Version__"
  },
  "tools": {},
  "buildOptions": {
    "preserveCompilationContext": true,
    "copyToOutput": {
      "include": [ "IntegrationTests\\Dependencies\\chromedriver.exe" ]
    }
  },
  "packOptions": {
    "tags": [
      ""
    ],
    "licenseUrl": "",
    "projectUrl": ""
  },
  "publishOptions": {
    "include": []
  }
}

