<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmptyLog4Net</title>
    @*   @Html.Raw(JSNLog.JavascriptLogging.Configure())   *@
</head>
<body>
    <h1>ConsoleAppender</h1>
    <script>
        // JL("jsLoggerConsoleAndAjax").fatal("fatal log message from jsLoggerConsoleAndAjax");
        // JL("jsLoggerConsole").fatal("fatal log message from jsLoggerConsole");
        // JL("jsLoggerConsole").error("error log message from jsLoggerConsole");
        // JL("jsLoggerConsole").warn("warn log message from jsLoggerConsole");
        // JL("jsLoggerConsole").info("info log message from jsLoggerConsole");
        // JL("jsLoggerConsole").debug("debug log message from jsLoggerConsole");
        // JL("jsLoggerConsole").trace("trace log message from jsLoggerConsole");
        // var ob = { "a": "b", "c": "d", "e": "f" };
        // JL("jsLoggerConsole").debug(ob);
        alert('ConsoleAppender');
    </script>

    <div>
    </div>
</body>
</html>
