@using ViewExtensions
@using WebSite.App_Code

<a href="@Html.ViewUrl("downloadinstall")" class="download-button"><span class="download-button-caption">Download</span><p>v@(SiteConstants.CurrentVersion) - @SiteConstants.JsnlogJsFileSize min+gz</p></a>



