@using ViewExtensions

<div class="main-menu"> 
        <ul>
        <li>
        @Html.ActionLink("Home", "Index", "Home")
        </li>
        <li>
            @Html.ViewLink("downloadinstall")
        </li>
        <li>
            @Html.ViewLink("getstartedlogging")
        </li>
        <li>
            @Html.ViewLink("webconfig", "Documentation")
        </li>
        <li>
            <a href="https://github.com/mperdeck/jsnlog" target="_blank">Source</a>
        </li>
        <li>
        <a href="https://github.com/mperdeck/jsnlog/issues" target="_blank">Support</a>
        </li>
        </ul>
</div>


