<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @*Add Configure before scripts that use logging*@
    @Html.Raw(JSNLog.JavascriptLogging.Configure())

    <script type="text/javascript" src="/Scripts/jsnlog_speciallogger.js"></script>
    <script type="text/javascript" src="/Scripts/jsnlog_simpletest.js"></script>
    <script type="text/javascript" src="/Scripts/jsnlog_batchtest.js"></script>
    <script type="text/javascript" src="/Scripts/jsnlog_iptest.js"></script>
    <script type="text/javascript" src="/Scripts/jsnlog_useragenttest.js"></script>
    <script type="text/javascript" src="/Scripts/jsnlog_test.js"></script>


</head>
<body>
    <div class="page">
        <section id="main">
            @RenderBody()
        </section>
    </div>
</body>
</html>
